<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/createBlog.css">
    <link rel="stylesheet" href="/styles/editBlog.css">
    <title>Blog</title>
 </head>
 <header>
    <nav class="navbar">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/">About</a></li>
        <li class="nav-item"><a href="/">Contact</a></li>

    </nav>
</header>
<main class="container">