<%- include("partials/header.ejs") %>
<h1>Create Your Own Blog Here</h1>
<form action="/" method="POST">
    <label>Title:</label>
    <input type ="text" name="title">

    <label>Content:</label>
    <textarea name="content"></textarea>
    <button type="submit">Create</button>
</form>

<a href="/">Back to Home</a>