<%- include("partials/header.ejs") %>
<main class="create-blog-container">
    <h1>Create Your Own Blog Here</h1>
    <form action="/" method="POST" class="blog-form">
            <label for="title">Title:</label>
            <input type ="text" name="title" id="title" required>

            <label for="content">Content:</label>
            <textarea name="content" id="content" row="6" required></textarea>
            <input type="text" name="imagePath" placeholder="Enter image URL or path">
            <button type="submit">Create</button>
    </form>

    <a href="/" class="back-link">Back to Home</a>
</main>

<%- include("partials/footer.ejs") %>