<%- include("../partials/header.ejs") %>

<section class="blog-detail">
    <h1>Cats Are Awesome!</h1>
    <img src="/images/cats.jpg" alt="Cats" />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec lectus libero.
         Proin a accumsan justo, nec maximus massa. Cras gravida dui nec auctor 
         vestibulum. In vitae magna vulputate, fringilla enim non, varius risus. 
         Mauris ultricies convallis aliquet. Quisque ac diam elit. Maecenas id 
         vulputate eros. Aliquam maximus at erat ac pulvinar.</p>
</section>

<%- include("../partials/footer.ejs") %>
